/* Sidebar principal */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px; /* Largura padrão (fechada) */
  height: 100%;
  background-color: rgb(209, 205, 205);
  color: white;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 50; /* Garante que o sidebar está acima do conteúdo */
}

/* Largura expandida da sidebar */
.sidebar.open {
  width: 150px; /* Largura quando aberta */
}

/* Botão de alternância */
/* Botão de alternância */
.sidebar .toggle-btn {
  z-index: 15;
  position: absolute;
  top: 5px; /* Distância do topo */
  left: 50%; /* Centraliza horizontalmente em relação ao sidebar */
  transform: translateX(-50%); /* Ajusta para manter o botão centralizado */
  background-color: rgb(209, 205, 205);
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}


/* Lista de navegação */
.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 40px 0;
}

/* Itens da lista */
.sidebar nav ul li {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  color: black;
  transition: background-color 0.3s;
}

/* Hover no item da lista */
.sidebar nav ul li:hover {
  background-color: #444;
}

/* Texto do item da lista */
.sidebar nav ul li span {
  margin-left: 10px;
  display: none; /* Oculto por padrão */
  visibility: visible; /* Torna o texto visível */
  opacity: 1; /* Totalmente opaco */
  width: auto; /* Ajusta a largura ao texto */
}

/* Exibe o texto quando a sidebar está aberta */
.sidebar.open nav ul li span {
  display: inline-block; /* Mostra o texto */
}

/* Configuração de layout */
.layout {
  display: flex;
}

.content {
  flex: 1;
  margin-left: 60px; /* Espaço para o sidebar fechado */
  transition: margin-left 0.3s ease-in-out;
}

/* Ajuste quando o sidebar está aberto */
.sidebar.open ~ .content {
  margin-left: 150px; /* Espaço para o sidebar aberto */
}
